.contact{
    background-color: #7E5A36;
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 460%;
    
}

.contactheader{
    margin-top: 25rem;
    /* background-color: #cfb59a; */
    text-align: center;
}

.contactheader p{
    line-height: 1.5;
}

.contactheader h3{
    padding: 2rem;
}

.contactheader h1 > span{
color: var(--tetiarycolor);
}

.contactheader > p{
padding: 2rem;
font-size: 2rem;
color: var(--secondaycolor);
}
